<strong>Olá, {{ deliveryman }}</strong>
<p>Devido aos problemas relatados, a encomenda abaixo foi cancelada</p>
<p>Principal motivo: {{ problem }}</p>
<p>
  <strong>Produto: </strong> {{ product }}
  <p>Endereço: {{ address }}</p>
  <br>
  <br>
</p>
