<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi atribuida a você.</p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <br>
  <small>Compareça ao estabelicimento para retirar a mercadoria.</small>
</p>
